{% extends 'base/navbar.html' %}
{% block content %}

<div class="row">
    <div class="col-sm-3 ">
        
        <h3 class="text-center alert alert-primary" style="border-radius:10px;">Do Attendance</h3>
        
        <form action="" method="POST">
            {% csrf_token %}
            {{form.as_p}}
           
            <input type="submit" class="btn btn-success" value="Save"/>
        </form>

    </div>


   <style>
    .tableFixHead {
      overflow-y: auto; 
      height: 400px; 
      width:120%;
    }

    .tableFixHead thead th {
      position: sticky; 
      top: -0.5px; 
      background:#fff;
    }
{% comment %}  {% endcomment %}




.form{

  position: relative;
  top:-7px;
}

.form .fa-search{

  position: absolute;
  top:20px;
  left: 20px;
  color: #9ca3af;

}

.form span{

      position: absolute;
  right: 17px;
  top: 13px;
  padding: 2px;
  border-left: 1px solid #d1d5db;

}

.left-pan{
  padding-left: 7px;
}

.left-pan i{
 
 padding-left: 10px;
}

.form-input{

  height: 55px;
  text-indent: 33px;
  border-radius: 10px;
}

.form-input:focus{

  box-shadow: none;
  border:none;
}

.container{
  width:50%;
}

{% comment %}  {% endcomment %}
   </style>

<div class="col-sm-7 offset-1">
<h3 class="text-center alert alert-primary " style="border-radius:10px;" >Student Attendance</h3>

{% comment %} Search Bar {% endcomment %}
{% comment %} <div class="container "> {% endcomment %}

  <form action="{% url 'do-attendance' %}">
      {% comment %} <div class="form" >
        <i class="fa fa-search"></i>
        <input type="text" class="form-control form-input" name="search" placeholder="Search......."> {% endcomment %}
        {{my_filter.form}}
        <button type="submit" name="search" >Search</button>
      {% comment %} </div> {% endcomment %}
    </form>
      
    {% comment %} </div> {% endcomment %}
   
{% comment %} Ended {% endcomment %}

<div class="tableFixHead">
<table class="table table-hover" >
    <thead>
      <tr>
        <th scope="col">Matric_no</th>
        <th scope="col">Name</th>
        <th scope="col">Gender</th>
        <th scope="col">Semester</th>
        <th scope="col">Status</th>
        <th scope="col">Date</th>
      </tr>
    </thead>


    <tbody>
        {% comment %} FOR LOOP INITIATION {% endcomment %}
        {% for student in student_attendance %}
      <tr>
        <th scope="row">{{student.student.matric_no}}</th>
        <td>{{student.student.name}}</td>
        <td>{{student.student.gender}}</td>
        <td>{{student.semester}}</td>
        {% if student.present%}
           
            <td><i class='bx bx-check-circle' style='color:#61f107'  ></i></td>
            
        {% else %}
        
            <td><i class='bx bx-x-circle bx-rotate-180' style='color:#f10707' ></i></td>
        
        {% endif %}
        <td>{{student.date_added}}</td>


      </tr>
      {% endfor %}
      
        {% comment %} FOR LOOP END HERE {% endcomment %}
    </tbody>

  </table>
</div>



</div>
</div>
{% endblock content %}